body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: pink;
}

header {
  height: 60px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: pink;
}

.form-submit-row {
  margin-top: 1rem;
}

main {
  height: calc(100vh - 100px);
  overflow-y: auto;
  padding: 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
}

footer {
  width: 100%;
  height: 25px;
  background-color: black;
  text-align: center;
  bottom: 0;
  color: white;
  margin-top: auto;
}
