body {
    font-family: Arial, sans-serif;
    background-color: pink;
}

header {
    height: 60px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: pink;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: pink;
}

.menu {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: white;
}

footer {
    width: 100%;
    height: 20px;
    background-color: black;
    text-align: center;

    bottom: 0;
    color: white;
}
